#tl_soverview > #tl_sw_messages {
    padding: 10px 15px 4px;
    line-height: 1.5;
}

#tl_soverview > #tl_sw_messages h2 {
    color: #006494;
    line-height: 1.3;
    padding-left: 22px;
    margin-bottom: 15px;
}

#tl_soverview > #tl_sw_messages strong {
    color: #006494;
}